{
  "parser": "babel-eslint",

  "extends": [
    "airbnb",
    "prettier"
  ],

  "env": {
    "browser": true,
    "mocha": true
  },

  "plugins": [
    "mocha",
    "prettier"
  ],

  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "prettier/prettier": "error"
  }
}
